.highlights-specials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.highlights-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.highlights-header div {
    display: flex;
    justify-content: center;
}
.highlights-header button {
    border-radius: 50px;
    padding: 20px 60px;
    background-color: #f4ce14;
}

.section-highlights {
    padding-top: 150px;
}
/* .highlights-btn, .highlights-h2 {
    display: flex;
} */
.highlights-btn {
    justify-self: start;
    padding-left: 30%;
}
.highlights-h2 {
    justify-self: end;
    padding-right: 30%;
}

@media(max-width: 768px) {
    .highlights-btn {
        padding-left: 0px;
    }
}

